* {
    margin: 0;
    padding: 0;
}

.infowindow {
    border: 1px;
    box-shadow: darkgray;
    border-color: aqua;
    position: sticky;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items:normal;
    scroll-behavior: auto;
    max-width: 20px;

}