* {
    margin: 0;
    padding: 0;
}
.App {
    width: 240px;
    height: 34vh;
    background-color: floralwhite;
    display: flex;
    align-items: center;
}

.weather-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 34vh;
    background-color: #29b6f6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.city {
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: aliceblue;
    padding: 6px 30px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: dimgrey;
}

.city-name {
    font-size: 20px;
    color: black;
    margin: 15px 0px 8px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-kerning: auto;

}

.deg {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.icon-temp {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    color: black;

}

.feels-like {
    font-weight: 500;
    color: aliceblue;
    font-size: large;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.degfeelslike {
    font-size: 14px;
    font-weight: 700;
    color: aliceblue;
}

.min-max-temp {
    font-weight: 500;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.degminmax {
    font-size: 10px;
    font-weight: 500;
    color: aliceblue;
}

.sun-rise-set{
    font-weight: 500;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 6px 30px 6px 30px;
    height: 100px;
    width: 100px;
}

.error-message {
    font-size: 24px;
    font-weight: 500;
    color: blueviolet;
    text-align: center;
}


.description {
    font-size: 12px;
    font-weight: 500;
    color: deeppink;
}